.md-date-picker-calendar-month-days {
  [layout-margin], [layout-margin] > [flex] {
    margin: 0 2px;
  }
}

.md-date-picker-calendar-month-wday {
  color: #737373;
  text-transform: uppercase;
  text-align: center;
}


.md-date-picker-calendar-month-day {
  color: #333;
  text-align: center;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4rem;
  line-height: 2.5em;
}

.md-date-picker-calendar-month-day-muted {
  color: silver;
}

.md-date-picker-calendar-month-day-today {
  background-color: silver;
}

.md-date-picker-calendar-month-day-selected {
  font-weight: bold;
  color: #e6e6e6;
  background-color: #00baa9;
}

.md-date-picker-calendar-month-controls-month,
.md-date-picker-calendar-month-controls-year {
  margin: 0 0.5em;
  .md-select-label {
    border: none !important;
  }
  .md-select-icon {
    display: none;
  }
}

.md-date-picker-calendar-month-controls-year {
  .md-select-label {
    min-width: 0;
  }
}